/* Universal Styles*/
html {
  width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  background-color: #151726;
  color: #ddd;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
  margin: 0.5em auto;
}
h3 {
  font-size: 1.5em;
  margin: 0.25em auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d89e17;
  line-height: 1.1;
  text-align: center;
}
p,
ul,
ol,
th,
td {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0.5em auto;
  max-width: 35em;
}
strong {
  color: #9ca4e0;
}
a {
  color: #919be0;
  font-size: 1.2em;
}
p a,
ul a,
ol a {
  font-size: 1em;
}
a:hover {
  color: #a2aef9;
}
table {
  width: 100%;
  margin: 0 auto;
}

table,
th,
td {
  background-color: #1d1f2d;
  border-width: 1px;
  border-style: solid;
  border-color: #8e680f;
  border-collapse: collapse;
}
th,
td {
  padding: 0.2em;
  text-align: center;
}
caption {
  font-size: 1.33em;
  font-weight: bold;
  color: #d89e17;
  line-height: 1.1;
  padding: 0.4em 0;
}

.captioned-img {
  margin: 0.7em auto;
}

.captioned-img img {
  max-width: 45em;
  width: 100%;
  margin: 0.4em auto;
  display: block;
}
.captioned-img p {
  font-size: 0.9em;
  text-align: center;
  margin: 0.1em auto;
}

.container {
  margin: auto;
  max-width: 55em;
  padding: 0 1em;
  width: 95%;
}

/* Base Styling for the Navbar */
nav {
  background-color: #222435;
  border-width: 1px 0;
  border-style: solid;
  border-color: #c18e15;
}

nav ul {
  list-style: none;
  font-size: 1em;
}

nav li {
  display: inline-block;
  padding: 0px;
}

nav a {
  display: block;
  color: #c18e15;
  text-decoration: none;
  padding: 0.8em;
  font-size: 1em;
}

nav a[href].selected {
  background-color: #1b1e2b;

  font-weight: bold;
}

nav a:hover {
  color: #ffba1c;
  background-color: #1f2030;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  nav ul {
    display: block;
  }
  nav ul li {
    width: 100%;
    display: block;
    text-align: center;
  }
}
@media (min-width: 600px) {
  nav ul li#litrev {
    float: right;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}
